.class_footer_container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(30, 30, 30);
    width: 100%;
    font-family: "Monserrat", sans-serif;
}

.class_footer_title {
    color: white;
    font-size: 15px;
    font-weight: bolder;
}

.class_footer_subtitle {
    color: gray;
    font-weight: 500;
    /* font-style: italic; */
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    /* max-width: 250px; */
}

.class_footer_icon_container {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-top: 75px;
    margin-bottom: 25px;
    /* margin-left: 100px; */
}

.class_footer_icon {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 25px;
    /* border-style: solid; */
}

.class_footer_icon i {
    color: rgb(216, 215, 215);
    font-size: 18px;
    margin-top: 10px;
    /* color: white; */
}

.class_footer_caracteristics {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    /* margin-left: 50px; */
}

.class_footer_caracteristics ul {
    color: white;
    margin-top: 40px;
    list-style: none;
    font-weight: 500;
    font-size: 13px;
    padding: 0px;
}

.class_footer_caracteristics ul li {
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    padding: 0px;
    color: gray;
}

.class_footer_suscribe .class_suscribe_form {
    border-style: solid !important;
    border-color: gray !important;
}

.class_footer_reserved_title {
    color: gray;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.class_footer_reserved_title a {
    text-decoration: none;
    color: orange;
    transition: 0.25s;
}

.class_footer_reserved_title a:hover {
    color: yellow;
}

.class_footer_developer {
    display: flex;
    flex-direction: column;
}