@import url("./Responsive.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.class_line_separated {
    width: 75px;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #19bcdb;
    border-width: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.class_container_title {
    margin-top: 30px;
    font-family: "Monserrat", sans-serif;
    font-size: 40px;
    color: rgb(70, 70, 69);
    /* background-image: linear-gradient(#19bcdb, #19bcdb);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 50% 2px; */
}

.class_container_subtitle {
    font-family: "Monserrat", sans-serif;
    color: #868686;
    max-width: 750px;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #e0e0e0;
    padding: 25px;
    box-shadow: 5px 5px 1px rgb(0 0 0 / 5%);
    margin-top: 30px;
}

.class_effect_display {
    opacity: 1 !important;
    transition: 1.5s;
}

.class_effect_opacity {
    opacity: 0.25;
}